.addNewEntryModalContainer {
  position: relative;
  background-color: white;
  width: 30%;
  height: 120vh;
  padding: 2%;
  margin-left:45%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.addNewEntryModalContainerOut {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 128vh;
  z-index: 1;
} 

input{
  width: 100%;
  height: 3rem;
  border-radius: 5px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  align-self: flex-end;
}

.field{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  margin-bottom: 1rem;
}